body{
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: 'Abel', sans-serif;
}

nav{
  display: flex;
  width: 100%;
  height: 3rem;
  z-index: 5;
  background-color: white;
  border-bottom: 2px solid #f7f7f7;
}

nav .logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .name{
  display: flex;
  position: fixed;
  margin-left: 8.5rem;
}

nav h1{
  font-size: 2rem;
  color: #C46220;
  margin-right: 0.3rem;
  display: flex;
}

nav h2{
  color:#0E380A;
  font-size: 2rem;
  display: flex;
}

nav img{
  display: flex;
  height: 2rem;
  width: auto;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

nav ul{
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: 1rem;
  height: 100%;
  font-size: 1.4rem;
}

nav li{
  display: inline-flex;
  text-decoration: none;
}

nav a{
  text-decoration: none;
  color: gray;
}

nav a:hover{
  color: black;
  border-bottom: 0.4rem solid #C46220;
}

/*Begin Cover and Banner Section*/

.Cover{
  background-image: url("./Images/Oil.jpg");
  background-size:cover;
  height:35rem;
  display: flex;
  width: 100%;
  align-items: center;
}

.Banner{
  display: flex;
  height: 60%;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}

.Banner h1{
  font-size: 6rem;
  color: white;
  margin-bottom: 3rem;
}

.Banner h2{
  font-size: 2rem;
  color: white;
  font-family: 'Raleway';
  margin-bottom: 3rem;
}

.Banner button{
  display: flex;
  width: 20%;
  height: 3rem;
  font-size: 1rem;
}

.Banner .buttons{
  display: flex;
}

.Banner #Learn{
  display: inline-flex;
  margin-right: 5rem;
  justify-content: center;
  background-color: #C46220;
  border-radius: 4px;
  color: white;
  border-color: #C46220;
}

.Banner #Shop{
  display: inline-flex;
  justify-content: center;
  background-color: #0E380A;
  border-radius: 4px;
  color: white;
  border-color: #0E380A;
}

/*Begin Education Section*/

.Education{
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
}

.Education .container{
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: white;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

}

.Education h2{
  font-size: 3rem;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;

}

.Education p{
  display: flex;
  line-height: 2rem;
  font-family: 'Raleway';
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.Education button{
  display: flex;
  width: 20%;
  height: 3rem;
  font-size: 1rem;
}

#More{
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 2rem;
  justify-content: center;
  background-color: #2044f7;
  color: white;
  border-color: #2044f7;
  border-radius: 4px;
}

/*Begin Process Section*/
.container h1{
  display: flex;
  font-size: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-content: center;
}

.Process{
  display: flex;
  background-color: #f7f7f7;

}

.Process .container{
  display: flex;
  justify-content: space-between;
  width: 60%;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  background-color: white;
}

.Process .steps{
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.Process .Step{
  display: flex;
  background-color: white;
  flex-direction: column;
  width: 30%;
}

.Process .Step img{
  display: flex;
  height: 4.5rem;
  width: 4.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.Process .Step p{
  font-family: 'Raleway';
  line-height: 2rem;
}

.Process a{
  text-decoration: none;
  color: #4273d6;
}

.Process a:hover{
  font-weight: bold;
}

.Process button{
  display: inline-flex;
  justify-content: center;
  background-color: #0E380A;
  border-radius: 4px;
  color: white;
  border-color: #0E380A;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 20%;
  height: 3rem;
  font-size: 1rem;
}

/*Begin Products Section*/

.section2{
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
}

.Products{
  display: flex;
  flex-wrap: wrap;
  width:60%;
  margin: auto;
  justify-content: space-between;
  margin-top: 2rem;
  align-items: center;
}

.Products .card{
  display: flex;
  width: 20%;
  border-radius: 4px;
  background-color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #f2f2f2;
}

.Products .card:hover{
  border: 2px #0E380A solid;
}

.Products .card img{
  display: flex;
  height: 50%;
  width: 50%;
  margin-bottom: 1rem;
}

.Products h1{
  display: flex;
  font-size: 2rem;
  margin-bottom: 0.3rem;
}

/*Begin About Section*/

.section3{
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
}

.About{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  justify-content: center;
  background-color: white;
  margin-bottom: 2rem;
}

.Pics{
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.About img{
  display: flex;
  border-radius: 48px;
  height: 5rem;
  width: 5rem;
}

.About h1{
  font-size: 3rem;
  display: flex;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.About p{
  display: flex;
  line-height: 2rem;
  font-family: 'Raleway';
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}
